.profile-card-socials {
    text-align: center;
    margin: 15px 0 0 0;
}

.profile-card-socials> img {
    height: 20px;
    margin: 1px;
}

.profile-card-socials> img:hover {
    cursor: pointer;
}

.profile-card-socials> img:last-child {
    border-radius: 3px;
}

/*****/

.post-wrapper {
    padding: 10px;
}

.post-section,
.post-metadata,
.post {
    overflow: auto;
}

.post-metadata-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.post-metadata-content> img {
    flex-basis: 30px;
    /* Fix for chrome not setting the container's height correctly */
    height: 30px;
}

.post-metadata-content> span {
    flex-basis: 75%;
    font-size: 18px;
}

.author-section,
.likes-section,
.share-section {
    margin-bottom: 8px;
}

.likes-section:hover {
    cursor: pointer;
}

@media only screen and (min-width: 700px) {
    .post-wrapper {
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    
    .post-metadata {
        flex-basis: 20%;
    }
    
    .post-section {
        flex-basis: 75%;
    }
}