<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button class="menu-button" mat-icon-button (click)="logoIconClicked.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="logo" (click)="navigateToHome()">
    </div>
    <div class="toolbar-links-container">
      <ul class="toolbar-links">
        <li *ngIf="!(authService.$isLoggedIn | async)">
          <mat-icon class="pd-right">person_add</mat-icon>
          <a routerLink='/register'>Register</a>
        </li>
        <li *ngIf="!(authService.$isLoggedIn | async)">
          <mat-icon class="pd-right">exit_to_app</mat-icon>
          <a routerLink='/login'>Login</a>
        </li>
        <li *ngIf="authService.$isLoggedIn | async">
          <mat-icon class="pd-right">power_settings_new</mat-icon>
          <span (click)="logout()">Logout</span>
        </li>
      </ul>
    </div>
    <div class="toolbar-menu-container">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-container *ngIf="!(authService.$isLoggedIn | async)">
          <a mat-menu-item
            routerLink='/register'
          >
            <mat-icon>person_add</mat-icon>
            <span>Register</span>
          </a>
          <a mat-menu-item
            routerLink='/login'
          >
            <mat-icon>exit_to_app</mat-icon>
            <span>Login</span>
          </a>
        </ng-container>
        <ng-container *ngIf="authService.$isLoggedIn | async">
          <a mat-menu-item>
            <mat-icon>power_settings_new</mat-icon>
            <span (click)="logout()">Logout</span>
          </a>
        </ng-container>
      </mat-menu>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="authService.$isLoggedIn | async" class="subheader">
    <app-side-nav-list [categories]="categories$ | async" [showItemsHorizontal]="true" [showSubHeaders]="false"></app-side-nav-list>
  </mat-toolbar-row>
</mat-toolbar>